*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/Picsart_23-11-13_16-50-27-544.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    animation: heade 2s ease-in-out;
}
@keyframes heade{
    0%{
        transform: translateY(-100%);
    }

}
.logo{
    text-decoration: none;
    color: #fff;
    font-size: 40px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    padding: 0px 10px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 15%;
    font-size: 30px;
}
.siva{
    height: 30px;
    overflow: hidden;
}
/* .header-text p{ 

    position: relative;
    top: 30px;
    animation: slide 8s steps(3) infinite;
}
@keyframes slide{
    100%{
        top: -130px;
    }
} */
.header-text p span{
    height: 40px;
    position: relative;
    overflow: hidden;
}
.header-text p span::after{
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    border-left: 4px solid #fff;
    animation: typing 4s steps(30) infinite;
    overflow: hidden;
}
@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    z-index: 1;
    animation: headertext 2s ease-in-out;
}
@keyframes headertext{
    0%{
        transform: translateX(-100%);
    }

}

.header-text h1 span{
    color: #ff004f;
}
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1  img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.about-col-2 p{
    padding: 10px 0px;
    text-indent: 50px;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-titles p{
    font-size: 22px;
    text-align: justify;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 15px;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 25px;
}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
#services{
    margin-top: -50px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 3fr));
    grid-gap: 50px;
    margin-top: 50px
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 18px;
    font-weight: 200;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div p{
    line-height: 25px;
    text-indent: 50px;
}
.services-list div ul{
    line-height: 25px;
    margin-left: 50px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    height: 500px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 25px;
    color: white;
}
.layer p{
    font-size: 18px;
    color: white;
}
.layer i{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}
#contact{
    margin-top: -50px;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
    text-align: center;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
nav .fas{
    display: none;
}
@media only screen and (min-width: 0px) and (max-width: 800px) {
    #header{
        background-image: url(images/mobile4.jpg);
    }
    .logo{
        text-decoration: none;
        color: #fff;
        font-size: 30px;
    }
    .header-text{
        width: 150px;
        margin-top: 72%;
        margin-left: -30px;
        font-size: 19px;
        text-align: center;
        overflow: hidden;
    }
    .header-text p span{
        height: 40px;
        position: relative;
        overflow: hidden;
    }
    .header-text p span::after{
        content: '';
        position: absolute;
        left: 0;
        top: -10px;
        height: 150%;
        width: 150%;
        background: black;
        border-left: 4px solid #fff;
        animation: typing 5s steps(24) infinite;
        overflow: hidden;
    }
    @keyframes typing{
        100%{
            left: 100%;
            margin: 0 -35px 0 35px;
        }
    }
    .header-text h1{
        font-size: 25px;
    }
    nav li{
        list-style: none;
    }
    nav .fas{
        display: block;
        list-style: none;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -280px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        text-align: center;
        padding: 5px 0px;
    }
    nav ul li .fas{
        position: absolute;
        top: 30px;
        left: 90px;
        text-align: center;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .about-col-2 p{
        margin-right: 10px;
        padding: 5px 0px;
        text-indent: 30px;
        font-size: 14px;
        line-height: 20px;
    }
    .tab-contents ul li span{
        font-size: 18px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .btn3{
        margin-left: 60px;
    }
    .btn4{
        margin-left: 20px;
    }
    
}
@media only screen and (min-width: 800px) and (max-width: 1200px){
    #header{
        background-image: url(images/Picsart_23-11-13_16-50-27-544.jpg);
    }
    .logo{
        text-decoration: none;
        color: #fff;
        font-size: 30px;
    }
    .header-text{
        width: 150px;
        margin-top: 30%;
        margin-left: 30px;
        font-size: 21px;
        text-align: center;
        overflow: hidden;
    }
    .header-text p span{
        height: 40px;
        position: relative;
        overflow: hidden;
    }
    .header-text p span::after{
        content: '';
        position: absolute;
        left: 0;
        top: -10px;
        height: 150%;
        width: 150%;
        background: black;
        border-left: 4px solid #fff;
        animation: typing 5s steps(24) infinite;
        overflow: hidden;
    }
    @keyframes typing{
        100%{
            left: 100%;
            margin: 0 -35px 0 35px;
        }
    }
    .header-text h1{
        font-size: 25px;
    }
    .container{
        padding: 0px 10px;
    }
    nav li{
        list-style: none;
    }
    /* nav .fas{
        display: ;
        list-style: none;
    } */
    nav ul{
        margin-left: 0px;
    }
    nav ul li{
        padding: 5px 0px;
    }
    /* nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -250px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        text-align: center;
        padding: 5px 0px;
    }
    nav ul li .fas{
        position: absolute;
        top: 30px;
        left: 90px;
        text-align: center;
        cursor: pointer;
    } */
    .sub-title{
        font-size: 40px;
    }
    
    .about-col-1{
        margin-bottom: 30px;
        flex-basis: 40%;
    }
    .about-col-2{
        font-size: 14px;
        flex-basis: 55%;
    }
    .about-col-2 p{
        margin-right: 10px;
        padding: 5px 0px;
        text-indent: 30px;
        font-size: 14px;
        line-height: 20px;
    }
    .tab-contents ul li span{
        font-size: 18px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left{
        flex-basis: 40%;
    }
    .contact-right{
        flex-basis: 55%;
    }
    .btn3{
        margin-left: 60px;
    }
    .btn4{
        margin-left: 20px;
    }
    
}
@media only screen and (min-width: 1200px) and (max-width: 1500px){
    
    .header-text{
        top: 60%;
        width: 500px;
        overflow: hidden;
    }
}
